# Dependencies
node_modules/

# Production
build/
dist/

# Environment
.env
.env.local
.env.dev
.env.prod

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
__pycache__/
.idea/
*.swp
*.swo
